<div class="container">
  <div class="row " >
    <div class="col-sm-offset-3 col-sm-6 well" id="errorTemp">
      <h1>Not found <span>:(</span></h1>
      <p>Sorry, but the page you were trying to view does not exist.</p>
      <p>It looks like this was the result of either:</p>
      <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
      </ul>
      <h3>
        You can try to login again.
        <md-button ng-href="#/" class="md-raised">Go to Login</md-button>
      </h3>
    </div>
  </div>
</div>
